body {
	background: url("../images/background1.gif") no-repeat center center fixed;
	background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;	
}

h1 {
  color: #fc890f;
  font-family: 'Indie Flower', cursive;
}

h2 {
  color: #c2e544;
}

.character-image {
  display: inline-block;
  height: 220px;
  padding: 0px 20px 0px 20px;
  margin: 0px 2px 0px 2px;
  background-color: #1e9b1b;
  border: solid;
  border-radius: 8px;
  border-color: green;
}

.character-image p {
  font-size: 20px;
  text-align: center;
  margin: 4px 2px;
  color: white;
  font-family: 'Sedgwick Ave Display', cursive;
}
#attack {
  margin-left: 80px;
}

#game-message {
  font-size: 20px;
  color: white;
  font-family: 'Sedgwick Ave Display', cursive;
}

#restart {
  margin-left: 80px;
}

footer {
    background-color: #d18b29;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 11px;
    clear: both;
}

@media (min-width: 980px) {
    .container {
        width: 970px;
    }
}

@media (max-width: 768px) {
    .liActive,
    .liDisabled {
        width: 22px;
        height: 22px;
        line-height: 20px;
        margin: 4px;
    }
    .panel {
        margin: 15px;
    }
    .panel .panel-body {
        padding: 12px 0px 0px 12px;
        background-color: #222;
    }
    #hangman-img-holder {
        margin-top: 10px;
    }
    #rules {
        text-align: left;
        margin-left: 15px;
        margin-bottom: 10px;
    }
    .margin-top-20 {
        margin-top: 10px;
    }
}
